.ol-button.actions {
  left: .5em;
  top: .5em;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  background: rgba(0,0,0,0.3);
  border: 0.2em solid rgba(255,255,255,.4);
}
.ol-button.actions:before,
.ol-button.actions:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.5);
  transform: scaleX(.3) rotate(45deg);
  z-index: 0;
}
.ol-button.actions:after {
  transform: scaleY(.3) rotate(45deg);
}

.ol-button.actions button {
  position: absolute;
  background-color: transparent;
  background-image: url('../img/searchBt.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  z-index: 1;
  outline: none;
}
.ol-button.actions button.ring,
.ol-button.actions button:hover {
  animation: ring 2s ease;
}

.ol-ext-dialog.actions .ol-content {
  margin: 0 -1em;
}
.ol-ext-dialog.actions .ol-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ol-ext-dialog.actions .ol-content ul li {
  padding: .2em 2em;
  cursor: pointer;
}

.ol-ext-dialog.actions h2:before,
.ol-ext-dialog.actions .ol-content ul li:before {
  content: '';
  display: inline-block;
  width: 3.5em;
  height: 2.5em;
  background-image: url("../img/dices.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
}
.ol-ext-dialog.actions .ol-content ul li:before {
  background-image: url("../img/dice.png");
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
}

.ol-ext-dialog.actions .ol-content ul li:hover {
  background-color: #eee;
}
.ol-ext-dialog.actions .ol-content ul li img {
  width: 3.5em;
  vertical-align: middle;
}

.ol-ext-dialog.actions .ol-content .noActions {
  margin: 0 2em;
}
.ol-ext-dialog.actions .ol-content[data-has-action] .noActions {
  display: none;
}

@keyframes ring {
	0% { transform: translate(-50%, -50%) rotate(-15deg) }
	2% { transform: translate(-50%, -50%) rotate(15deg) }
	4% { transform: translate(-50%, -50%) rotate(-18deg) }
	6% { transform: translate(-50%, -50%) rotate(18deg) }
	8% { transform: translate(-50%, -50%) rotate(-22deg) }
	10% { transform: translate(-50%, -50%) rotate(22deg) }
	12% { transform: translate(-50%, -50%) rotate(-18deg) }
	14% { transform: translate(-50%, -50%) rotate(18deg) }
	16% { transform: translate(-50%, -50%) rotate(-12deg) }
	18% { transform: translate(-50%, -50%) rotate(12deg) }
	20%,100% { transform: translate(-50%, -50%) rotate(0deg) }
}

.ol-control.shoes {
  bottom: 0;
  right: 11em;
  background-color: transparent;
}
.ol-control.shoes button {
  background-color: transparent;
  width: 4.5em;
  height: 4em;
  background: url('../img/shoes.svg') no-repeat center;
  background-size: contain;
  cursor: pointer;
}

[data-role="helpInfo"].arround {
  top: 1.5em;
  left: 6em;
  white-space: nowrap;
}
[data-role="helpInfo"].arround:before {
  content: "";
  left: -3em;
  top: 50%;
  transform: translateY(-50%);
  border-right: 2em solid rgba(0,0,0,.5);
}