.ol-control.bag {
  bottom: 0;
  right: 7em;
  background-color: transparent;
}
.ol-control.bag button {
  background-color: transparent;
  width: 3em;
  height: 4em;
  background: url('../img/sac.svg') no-repeat center;
  background-size: contain;
  cursor: pointer;
}
.ol-control.bag button span {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background-color: #eb0;
  color: #000;
  line-height: 1.6em;
  text-align: center;
  font-size: .8em;
  bottom: .5em;
  left: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.8);
}
.ol-control.bag button span[data-size="0"] {
  display: none;
}

body > .ol-ext-dialog.bag > form {
  overflow: hidden;
  width: 35em;
  border: 5px solid #ac6e22;
  box-shadow: inset 1px 1px 6px currentColor;
  color: #5f3303;
}
body > .ol-ext-dialog.place > form {
  border: 1px solid #369;
  box-shadow: none;
  color: #369;
}

.ol-ext-dialog.bag div.info:before {
  content: '+1 pdv';
  position: absolute;
  color: #f50;
  font-weight: bold;
  text-shadow: 3px 3px 5px #eb0, 3px -3px 5px #eb0, -3px -3px 5px #eb0, -3px 3px 5px #eb0;
  left: 60%;
  top: 100%;
  opacity: 1;
  transform: translateX(-50%);
  transition: 0s;
  padding: .5em 1em;
}
.ol-ext-dialog.bag .info.newLife:before {
  top: calc(100% - 5em);
  opacity: 0;
  transform: translateX(-50%) scale(1.5) rotate(-10deg);
  transition: all 1s, .8s opacity 1s;
}

.ol-ext-dialog.bag h2 {
  margin: 0;
  color: currentColor;
}
.ol-ext-dialog.bag h2:before {
  content: "";
  background: url(../img/sac.svg) no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 2em;
  height: 3em;
  vertical-align: middle;
  margin: 0 .5em 0 .2em;
  transform: rotate(10deg);
}
.ol-ext-dialog.place h2:before {
  background-image: url(../img/dice.png);
  transform: none;
}
  
.ol-ext-dialog.bag ul {
  list-style: none;
  text-align: center;
  padding: 0 .5em;
  display: flex;
  flex-wrap: wrap;
}
.ol-ext-dialog.bag ul li {
  position: relative;
  padding: 1em 0;
  border-radius: .5em;
  border: 1px solid currentColor;
  box-shadow: 0 0 .2em currentColor;
  margin: .3em 0;
  height: 5em;
  flex-grow: 1;
  min-width: 7em;
}
.ol-ext-dialog.bag ul li:hover {
  box-shadow: 0 0 .4em currentColor;
}
.ol-ext-dialog.bag ul li p,
.ol-ext-dialog.bag ul li div.actions,
.ol-ext-dialog.bag ul li > button {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  margin: 0;
  transform: translateX(-50%);
  z-index: inherit;
  background-color: rgba(255,255,255,.5);
}
.ol-ext-dialog.bag ul li.empty p {
  position: unset;
  margin: 1em 0;
  transform: unset;
}
.ol-ext-dialog.bag ul li div.actions,
.ol-ext-dialog.bag ul li > button {
  top: auto;
  bottom: 0;
  width: 100%;
}
.ol-ext-dialog.bag ul li > button.delete {
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  width: auto;
  height: auto;
  transform: unset;
  color: #999;
  z-index: 1;
  font-size: 1.25em;
}
.ol-ext-dialog.bag ul li > button.delete:before {
  content: "\f1f8";
  font-family: FontAwesome; 
}
.ol-ext-dialog.bag ul li > button.delete:hover {
  color: #555;
}

.ol-ext-dialog.bag ul li:before {
  content: '';
  display: block;
  height: 5em;
  width: 5em;
  margin: auto;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.ol-ext-dialog div.info {
  color: currentColor;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(0,0,80,.1);
  padding: 0 1em;
  line-height: 2.5em;
}

.ol-ext-dialog .ol-content button {
  margin: 0 0 0 .5em;
  padding: .3em .5em;
  background-color: rgba(0,60,136,.1);
  border: 0;
  font-size: 1em;
  color: rgba(0,60,136,1);
  cursor: pointer;
  border-radius: 0.25em;
  outline-width: 0;
}
.ol-ext-dialog .ol-content button:hover {
  background-color: rgba(0,60,136,.2);
}

[data-role="helpInfo"].bag {
  bottom: 6em;
  right: 1em;
  text-align: center;
}
[data-role="helpInfo"].bag:before {
  content: "";
  border-top: 2em solid rgba(0,0,0,.5);
  bottom: -3em;
  right: 7.5em;
}

.ol-ext-dialog.bag ul li:before {
  background-image: url("../img/actions/undef.svg");
}

.ol-ext-dialog.bag ul li.none:before {
  background-image: url("../img/actions/none.svg");
}

.ol-ext-dialog.bag ul li.shoes:before {
  background-image: url("../img/shoes.svg");
}
.ol-ext-dialog.bag ul li.bottle:before {
  background-image: url("../img/actions/bottle.svg");
}
.ol-ext-dialog.bag ul li.fullbottle:before {
  background-image: url("../img/actions/fullbottle.svg");
}
.ol-ext-dialog.bag ul li.water:before {
  background-image: url("../img/actions/water.svg");
}
.ol-ext-dialog.bag ul li.fruit:before {
  background-image: url("../img/actions/fruit.svg");
}
.ol-ext-dialog.bag ul li.apple:before {
  background-image: url("../img/actions/apple.svg");
}
.ol-ext-dialog.bag ul li.banana:before {
  background-image: url("../img/actions/banana.svg");
}
.ol-ext-dialog.bag ul li.grape:before {
  background-image: url("../img/actions/grape.svg");
}
.ol-ext-dialog.bag ul li.bar:before {
  background-image: url("../img/actions/bar.svg");
}
.ol-ext-dialog.bag ul li.bread:before {
  background-image: url("../img/actions/bread.svg");
}
.ol-ext-dialog.bag ul li.drink:before {
  background-image: url("../img/actions/drink.svg");
}
.ol-ext-dialog.bag ul li.poi:before {
  background-image: url("../img/compass.png");
}
.ol-ext-dialog.bag ul li.info:before {
  background-image: url("../img/compass.png");
}
.ol-ext-dialog.bag ul li.empty:before {
  content: none;
}

.ol-ext-dialog.bag ul li.info {
  min-width: 10em;
}

.ol-ext-dialog.bag ul li.drop {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 0 .5em;
  color: #f80;
  font-weight: bold;
}
.ol-ext-dialog.bag ul li.drop:before {
  display: none;
}

.ol-ext-dialog.bag.drop > form.ol-closebox .ol-closebox,
.ol-ext-dialog.bag.drop .ol-buttons {
  display: none;
}

