.ol-ext-dialog.editActions form {
  width: 50em;
  top: 1em;
  transform: translateX(-50%);
}
.ol-ext-dialog.editActions form .ol-content {
  min-height: 10em;
}
.ol-ext-dialog.editActions select {
  width: calc(100% - 6px);
  margin: .5em 1px;
  box-shadow: 0 0 2px;
  border: 0;
}
.ol-ext-dialog.editActions input[type="text"] {
  display: block;
  width: calc(100% - 4px);
  margin: 2px;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.5em;
  border: 0;
  box-shadow: 0 0 2px;
}
.ol-ext-dialog.editActions ul {
  position: relative;
  padding: 0 0 0 1em;
  list-style: none;
  margin: 0 0 1em;
}
.ol-ext-dialog.editActions div > ul li > ul {
  border-left: .5em solid #369;
}
.ol-ext-dialog.editActions div > ul li > ul {
  padding: 0;
}
.ol-ext-dialog.editActions div > ul li > ul li > ul {
  padding: .5em;
  padding-left: 1em;
  border: 0;
}
.ol-ext-dialog.editActions div > ul li > ul li > ul:before {
  content: none;
}

.ol-ext-dialog.editActions li.button {
  padding: 0 1em 1em;
}
.ol-ext-dialog.editActions button {
  font-size: 1em;
}

.ol-ext-dialog.editActions div > ul > li:before,
.ol-ext-dialog.editActions div > ul > li > ul > li:before {
  content: 'AND';
  color: #fff;
  background-color: #369;
  width: 100%;
  display: block;
  padding: .5em 1em;
}

.ol-ext-dialog.editActions div > ul > li > ul > li:before {
  content: 'OR';
}
.ol-ext-dialog.editActions li.button:before,
.ol-ext-dialog.editActions div > ul > li:first-child:before,
.ol-ext-dialog.editActions div > ul > li > ul > li:first-child:before {
  content: none
}
.ol-ext-dialog.editActions li.button button {
  color: #fff;
  background-color: #369;
  border: 0;
  width: 100%;
  padding: .5em 1em;
  cursor: pointer;
}
.ol-ext-dialog.editActions ul .object {
  display: none;
}
.ol-ext-dialog.editActions ul[data-type="object"] .object {
  display: block;
}
.ol-ext-dialog.editActions ul[data-type="none"] label,
.ol-ext-dialog.editActions ul[data-type="none"] input {
  display: none;
}
.ol-ext-dialog.editActions ul[data-type="none"] .type,
.ol-ext-dialog.editActions ul[data-type="none"] .desc {
  display: block;
}

