/* Disable game map */
[data-disable-map] .map {
  pointer-events: none;
}

/* jumper */
.jumper {
  position: absolute;
  left: 0;
  bottom: 70px;
  margin: 0;
  padding: 0;
  transform: translateX(-100%);
  transition: .5s;
}
.jumper li {
  background-color: #fff;
  padding: .3em .5em .3em 0;
  cursor: pointer;
  margin: .5em 0;
  white-space: nowrap;
  overflow: hidden;
}
.jumper li:nth-child(2) {
  transform: translateX(-100%);
  transition: .5s;
}
.jumper li i {
  font-size: 1.5em;
  vertical-align: middle;
  margin: 0 .3em 0 .5em;
}

[data-mode="carte"] .jumper,
[data-mode="carte"] .jumper li {
  transform: translateX(0%);
}

@media (max-width: 700px) {
  .jumper li {
    width: 2.5em;
  }
}


.ol-ext-dialog.noCrossDlg i.compass {
  display: inline-block;
  font-size: 3em;
  width: 1em;
  height: 1em;
  background-image: url("../img/compass.png");
  background-size: contain;
  vertical-align: middle;
  margin: 10px 5px;
}


.ol-ext-dialog.life  {
  font-size: 1.2em;
}
.ol-ext-dialog.life > form {
  max-width: min(35em, 60%);
}

.ol-ext-dialog.life ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ol-ext-dialog.life ul span {
  font-size: 1.2em;
  font-weight: bold;
  vertical-align: middle;
  width: 1.5em;
  display: inline-block;
  text-align: right;
  color: rgba(0,60,136,1);
}
.ol-ext-dialog.life ul p {
  display: none;
  font-style: italic;
  color: rgba(0,60,136,1);
  margin-top: .5em;
  margin: 0 0 .5em 2em;
}
.ol-ext-dialog.life ul .inan {
  display: none;
  color: #800;
}
.ol-ext-dialog.life ul .inan img {
  float: left;
}
.ol-ext-dialog.life ul li i {
  display: none;
  font-style: normal;
}
.ol-ext-dialog.life ul li.multi i {
  display: inline;
}

.ol-ext-dialog.life ul .inan.visible,
.ol-ext-dialog.life ul .inan.visible p,
.ol-ext-dialog.life ul .visible {
  display: block;
}

.ol-notification {
  z-index: 1;
  pointer-events: none!important;
}
.ol-notification div,
.ol-notification div:hover {
  padding: 1em 2em;
  border-radius: 2em;
  bottom: 1em;
}

div.reload {
  position: fixed;
  font-size: 2em;
  padding: .2em .8em .2em .8em;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,.7);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: .1em .1em .2em rgba(0,0,0,.5);
}
div.reload:hover {
  background-color: rgba(255,255,255,.8);
}
div.reload:before {
  content: '';
  display: inline-block;
  background-image: url("../img/dices.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3em;
  height: 2em;
  vertical-align: middle;
}

[data-role="helpInfo"].carte {
  bottom: 7em;
  right: .5em;
}
[data-role="helpInfo"].carte:before {
  content: "";
  border-top: 2em solid rgba(0,0,0,.5);
  bottom: -3em;
  right: 3em;
}