/* Disable game map */
[data-disable-map] .map {
  pointer-events: none;
}

/* jumper */
.jumper {
  position: absolute;
  left: 0;
  bottom: 70px;
  margin: 0;
  padding: 0;
  transform: translateX(-100%);
  transition: .5s;
}
.jumper li {
  background-color: #fff;
  padding: .3em .5em .3em 0;
  cursor: pointer;
  margin: .5em 0;
  white-space: nowrap;
  overflow: hidden;
}
.jumper li:nth-child(2) {
  transform: translateX(-100%);
  transition: .5s;
}
.jumper li i {
  font-size: 1.5em;
  vertical-align: middle;
  margin: 0 .3em 0 .5em;
}

[data-mode="carte"] .jumper,
[data-mode="carte"] .jumper li {
  transform: translateX(0%);
}

@media (max-width: 700px) {
  .jumper li {
    width: 2.5em;
  }
}

/* Gauge */
.ol-gauge {
  z-index: 1;
  background-color: transparent!important;
  top: 1.25em;
  left: auto;
  right: 3em;
  transform: none;
}
.ol-gauge > div {
  position: relative;
  border-radius: 0 1em 1em 0;
  padding: 0;
  border: 2px solid #fff;
  background-color: rgba(0,0,0,.5);
  overflow: hidden;
}
.ol-gauge span {
  margin-right: 1em;
  position: relative;
  font-weight: bold;
  color: #fff;
}
.ol-gauge span:before,
.ol-gauge span:after {
  font-size: 1.1em;
  content: "\f004";
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  right: -1.5em;
  color: #f00;
  z-index: 1;
  transform: translateY(-50%) scale(1);
}
.ol-gauge span:before {
  color: #fff;
  transform: translateY(-50%) scale(1.3);
}
.ol-gauge.anim span:after {
  animation: .6s animateHeart .3s;
}

.ol-gauge button {
  border-radius: 0;
  background-color: #3993f3;
  background-image: linear-gradient(
    90deg, 
    rgba(80,0,0,1) 0,
    rgba(255,0,0,.5) 50px,
    transparent 50px
  );
}

@keyframes animateHeart {
  0% {
    transform: translateY(-50%) scale(1);
  }
  25% {
    transform: translateY(-50%) scale(1.3);
  }
  50% {
    transform: translateY(-50%) scale(1);
  }
  75% {
    transform: translateY(-50%) scale(1.4);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

.ol-ext-dialog.life  {
  font-size: 1.2em;
}
.ol-ext-dialog.life > form {
  max-width: min(35em, 60%);
}

.ol-ext-dialog.life ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ol-ext-dialog.life ul span {
  font-size: 1.2em;
  font-weight: bold;
  vertical-align: middle;
  width: 1.5em;
  display: inline-block;
  text-align: right;
  color: rgba(0,60,136,1);
}
.ol-ext-dialog.life ul p {
  display: none;
  font-style: italic;
  color: rgba(0,60,136,1);
  margin-top: .5em;
  margin: 0 0 .5em 2em;
}
.ol-ext-dialog.life ul .inan {
  display: none;
  color: #800;
}
.ol-ext-dialog.life ul .inan img {
  float: left;
}
.ol-ext-dialog.life ul li i {
  display: none;
  font-style: normal;
}
.ol-ext-dialog.life ul li.multi i {
  display: inline;
}

.ol-ext-dialog.life ul .inan.visible,
.ol-ext-dialog.life ul .inan.visible p,
.ol-ext-dialog.life ul .visible {
  display: block;
}
