[data-role="helpInfo"] {
  position: fixed;
  display: block;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  padding: .5em 1em;
  border-radius: 5px;
  pointer-events: none;
  transform: scale(0);
  transition: all .4s cubic-bezier(.5,2,.4,.8);
}
[data-role="helpInfo"].visible {
  transform: scale(1);
}
[data-role="helpInfo"]:before {
  position: absolute;
  border: 1em solid transparent;
}