.map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ghostMap {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border: 2px solid #fff;
  margin: 5px;
  transform-origin: 0 100%;
  transform: scale(.5);
  pointer-events: none;
}
.ghostMap:before {
  content: 'data';
  background-color: rgba(255,255,255,.6);
  color: #369;
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  padding: .3em .5em;
  z-index: 1;
  opacity: .8;
}
