.map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.map .ol-attribution {
  display: none;
}

.map .ol-control button {
  font-size: 1.3em;
}
.ghostMap {
  position: fixed;
  bottom: 100%;
  left: 0;
  background-color: #fff;
  border: 2px solid #fff;
  margin: 5px;
}
[data-debug] .ghostMap {
  bottom: 0;
}
.ghostMap:before {
  content: "data";
  background-color: rgba(255,255,255,.6);
  color: #369;
  position: absolute;
  /* font-size: 2em; */
  font-weight: bold;
  padding: .3em .5em;
  z-index: 1;
  opacity: .8;
}

.ghostMap.vtile {
  left: 256px;
  z-index: 1000;
}
.ghostMap.vtile:before {
  content: "carte";
}

.ol-control.ol-zoom {
  display: none;
}
.ol-control.carte {
  bottom: .5em;
  right: 2.5em;
  background-color: transparent;
}
.ol-control.carte button {
  font-size: 1em;
  width: 3em;
  height: 5em;
  background-color: transparent;
  background-image: url("../img/carte.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(10deg);
}

[data-mode="carte"] .ol-scale-line {
  bottom: 50px;
  left: 50px;
}

.ol-popup.tooltips .ol-popup-content i.fa {
  transform: scaleX(1.3);
  margin: 0 0.5em 0 0;
}

.map .ol-rotate {
  visibility: visible;
  opacity: 1;
  top: 1em;
  border-radius: 50%;
}
.map .ol-rotate button {
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
}
.map .ol-rotate button span {
  color: transparent;
  position: relative;
}
.map .ol-rotate button span:before {
  content: "";
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scaleX(.3) rotate(45deg);
  box-sizing: border-box;
  background-image: linear-gradient(-45deg,#ccc 50%,#800 0);
}
.map .ol-rotate button span:after {
  content: "";
  position: absolute;
  height: 0.3em;
  width: 0.3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 50%;
}

/* GameInfo */
.map .ol-control.gameInfo {
  width: auto;
  height: auto;
  top: auto;
  left: .5em;
  bottom: .5em;
  background-color: rgba(255,255,255,0.8);
  color: #000;
  padding: .5em;
  text-align: center;
  transition: .5s;
  max-width: calc(100% - 1em);
  border-radius: 4px;
  pointer-events: all!important;
}

[data-mode="carte"] .map .ol-control.gameInfo {
  display: none;
}

.map .ol-control.gameInfo p {
  margin: 0;
}

.map .ol-control.gameInfo .numero {
  font-size: 1.5em;
  border: 1px solid #666;
  padding: 0 0.2em;
  border-radius: 3px;
  background-color: #fff;
}
.map .ol-control.gameInfo .date {
  transform: scaleY(1.5);
}
.map .ol-control.gameInfo .duration {
  display: inline-block;
  color: #050;
  font-size: 1.1em;
  font-weight: bold;
  transform: scaleY(1.5);
  margin-bottom: .1em;
  vertical-align: text-bottom;
}
.map .ol-control.gameInfo .hour {
  font-size: 2em;
  vertical-align: middle;
  margin-left: .25em;
}

.map .ol-control.gameInfo.start,
.map .ol-control.gameInfo.start0 {
  background-color: rgba(255,255,255,1);
  font-size: 1.5em;
  text-align: center;
  width: 30em;
  top: auto;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.map .ol-control.gameInfo.start {
  bottom: 70%;
  transform: translate(-50%, 70%);
}
