.map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ghostMap {
  position: fixed;
  bottom: 100%;
  left: 0;
  background-color: #fff;
  border: 2px solid #fff;
  margin: 5px;
}
[data-debug] .ghostMap {
  bottom: 0;
}
.ghostMap:before {
  content: "data";
  background-color: rgba(255,255,255,.6);
  color: #369;
  position: absolute;
  /* font-size: 2em; */
  font-weight: bold;
  padding: .3em .5em;
  z-index: 1;
  opacity: .8;
}

.ghostMap.vtile {
  left: 256px;
  z-index: 1000;
}
.ghostMap.vtile:before {
  content: "carte";
}

.ol-control.carte {
  bottom: .5em;
  right: 2.5em;
  background-color: transparent;
}
.ol-control.carte button {
  width: 3em;
  height: 5em;
  background-color: transparent;
  background-image: url("../img/carte.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(10deg);
}

[data-mode="carte"] .ol-scale-line {
  bottom: 50px;
  left: 50px;
}