.ol-ext-dialog.intro form {
  width: 40em;
  overflow: hidden;
}
.ol-ext-dialog.intro form h1 {
  margin: 0;
}
.ol-ext-dialog.intro form h1 img {
  vertical-align: middle;
}

.ol-ext-dialog.intro form label {
  display: inline-block;
  width: 10em;
  text-align: right;
}
.ol-ext-dialog.intro > form  select {
  max-width: calc(100% - 10em);
}

.ol-ext-dialog.intro form label.ol-ext-toggle-switch {
  display: block;
  width: auto;
  margin: .8em 0 0;
  text-align: left;
}
.ol-ext-dialog.intro form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ol-ext-dialog.intro form li {
  padding: .2em 0;
}
.ol-ext-dialog.intro form option:disabled {
  color: #ccc;
}

.ol-ext-dialog.intro form [data-diff] {
  font-weight: bold;
  font-style: italic;
  padding: 0 .5em;
}
.ol-ext-dialog.intro form [data-diff="facile"] {
  color: #080;
}
.ol-ext-dialog.intro form [data-diff="moyen"] {
  color: #f80;
}
.ol-ext-dialog.intro form [data-diff="difficile"] {
  color: #e00;
}
.ol-ext-dialog.intro form [data-diff="sportif"] {
  color: #800;
}

.ol-ext-dialog.intro > form .ol-buttons input {
  margin-top: 0;
}

.ol-ext-dialog.intro > form  {
  font-size: 1.2em;
}

.ol-ext-dialog.intro > form p a {
  float: right;
}
.ol-ext-dialog.intro > form p a:after {
  content: '\f08e';
  font-family: FontAwesome;
}

.ol-ext-dialog.intro .ol-content {
  max-height: calc(100vh - 5em);
}