.legendDialog h2 {
  margin: 0 0 .5em 0;
}
.legendDialog h3 {
  margin: .5em 10px 5px;
}
.legendDialog .ol-content > div {
  margin-top: 1.5em;
  clear: both;
}
.legendDialog .ol-content > div:first-child {
  margin: 0;
}

.legendDialog b:before {
  content: "";
  position: absolute;
  background-image: url(../img/highlight.png);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  top:0;
  left: -1em;
  bottom: 0;
  right: -1em;
  border-radius: 1em;
}
.legendDialog .danger b:before {
  background-image: url(../img/highlight-e.png);
}
.legendDialog b {
  position: relative;
  display: inline-block;
  font-weight: normal;
  cursor: pointer;
}
.legendDialog b i {
  display: none;
  font-family: cursive;
  font-style: normal;
  color: #a00;
  background-color: rgba(255,255,255,.2);
  text-shadow: 1px 1px #fff, 1px -1px #fff, -1px -1px #fff, -1px 1px #fff;
  font-size: 1.1em;
  position: absolute;
  top: -1.5em;
  left: 80%;
  transform: rotate(-5deg) translateX(-50%);
  transform-origin: 0 0;
  pointer-events: none;
}
.legendDialog b:hover i {
  display: block;
}

.legendDialog img {
  width: 150px;
  float: left;
  margin: 0 10px;
}
.legendDialog ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 180px;
}
.legendDialog li {
  line-height: 33.5px;
  white-space: nowrap;
}
.legendDialog li.br {
  line-height: unset;
  height: 33.5px;
}


/* HELP */
.legendDialog.smooth .ol-content {
  scroll-behavior: smooth;
}

.legendDialog .ol-content .help,
.legendDialog .ol-content .help > div {
  display: none;
}
.legendDialog .ol-content.help .help {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(ellipse 80% 100px at 50% 200px, transparent 90%, rgba(0,0,0,.7) 100%);
  font-size: 1.5em;
}
.legendDialog .ol-content.help3 .help {
  background-image: radial-gradient(ellipse 80% 40% at 50% 60%, transparent 90%, rgba(0,0,0,.7) 100%);
}
.legendDialog .ol-content.help1 .help-1,
.legendDialog .ol-content.help2 .help-2,
.legendDialog .ol-content.help3 .help-3 {
  position: absolute;
  display: block;
  top: 300px;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
}
.legendDialog .ol-content.help3 .help-3 {
  top: .5em;
}

[data-role="helpInfo"].legend2 {
  bottom: 1em;
  left: .5em;
  z-index: 1;
}
[data-role="helpInfo"].legend2:before {
  content: "";
  border-bottom: 2em solid rgba(0,0,0,.5);
  top: -3em;
  left: 0.5em;
}

