#lock input {
  font-size: 3em;
  width: 1.2em;
  padding: .25em 0;
  text-align: center;
  color: transparent;
  text-shadow: 0px 0px  #000;
  box-sizing: border-box;
}
#lock > div {
  position: relative;
  display: inline-block;
  margin: 0 .5em;
}

#lock input:focus ~ div {
  position: absolute;
  width: 2.4em;
  height: 5px;
  display: inline-block;
  background-color: #666;
  bottom: .8em;
  left: .6em;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0%,59% {
    opacity: 1;
  }
  60%,100% {
    opacity: 0;
  }
}
