html, body {
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
  user-select: none;
}

select, input, textarea {
  font-size: 1em;
  user-select: all;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}

select {
  padding: .5em
}


.ol-ext-dialog select {
  max-width: 100%;
}

.ol-ext-dialog .ol-progress-bar,
.ol-ext-dialog .ol-progress-bar > div {
  padding: 0;
  border-radius: 1em;
  border: 0;
}
.ol-ext-dialog .ol-progress-bar {
  background-color: #eee;
  margin: 1em 1em 0;
  max-width: calc(100% - 2em);
}
.ol-ext-dialog .ol-progress-bar > div {
  background-color: #3993f3;
}
.ol-ext-dialog .ol-progress-message {
  padding: 0;
}
.ol-ext-dialog .ol-progress-message i {
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 0.2em;
}

.ol-gauge {
  z-index: 1;
  background-color: transparent!important;
  left: auto;
  right: 1em;
  transform: none;
}
.ol-gauge > div {
  position: relative;
  border-radius: 0 1em 1em 0;
  padding: 0;
  border: 2px solid #fff;
  background-color: rgba(0,0,0,.5);
  overflow: hidden;
}
.ol-gauge span {
  margin-right: 1em;
  position: relative;
  font-weight: bold;
  color: #fff;
}
.ol-gauge span:before,
.ol-gauge span:after {
  font-size: 1.1em;
  content: "\f004";
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  right: -1.5em;
  color: #f00;
  z-index: 1;
  transform: translateY(-50%) scale(1);
}
.ol-gauge span:before {
  color: #fff;
  transform: translateY(-50%) scale(1.3);
}
.ol-gauge.anim span:after {
  animation: .6s animateHeart .3s;
}

.ol-gauge button {
  border-radius: 0;
  background-color: #3993f3;
  background-image: linear-gradient(
    90deg, 
    rgba(80,0,0,1) 0,
    rgba(255,0,0,.5) 50px,
    transparent 50px
  );
}

@keyframes animateHeart {
  0% {
    transform: translateY(-50%) scale(1);
  }
  25% {
    transform: translateY(-50%) scale(1.3);
  }
  50% {
    transform: translateY(-50%) scale(1);
  }
  75% {
    transform: translateY(-50%) scale(1.4);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}
