html, body {
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
  user-select: none;
}

select, input, textarea {
  font-size: 1em;
  user-select: all;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}

select {
  padding: .5em
}

h1, h2, a {
  color: rgba(0,60,136,1);
  text-decoration: none;
}
a:hover {
  box-shadow: 0 2px rgba(0,60,136,1);
}
.icss-github-corner:hover {
  box-shadow: unset;
}

.ol-ext-dialog select {
  max-width: 100%;
}

.ol-ext-dialog .ol-progress-bar,
.ol-ext-dialog .ol-progress-bar > div {
  padding: 0;
  border-radius: 1em;
  border: 0;
}
.ol-ext-dialog .ol-progress-bar {
  background-color: #eee;
  margin: 1em auto 0;
  max-width: calc(100% - 2em);
}
.ol-ext-dialog .ol-progress-bar > div {
  background-color: #3993f3;
}
.ol-ext-dialog .ol-progress-message {
  padding: 0;
}
.ol-ext-dialog .ol-progress-message i {
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 0.2em;
}
