html, body {
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
}

select, input, textarea {
  font-size: 1em;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}

select {
  padding: .5em
}